<ul class="menu">
    <label for="menu">
        <h1 class="menu__close-button">X</h1>
    </label>
    <li>
        <a href="" class="menu__item">Bio</a>
    </li>
    <li>
        <a href="" class="menu__item">Canvas paintings</a>
    </li>
    <li>
        <a href="" class="menu__item">lacquered Paintings</a>
    </li>
    <li>
        <a href="" class="menu__item">Press</a>
    </li>
    <li>
        <a href="" class="menu__item">Commission me</a>
    </li>
    <li>
        <a href="" class="menu__item">Contact</a>
    </li>
</ul>