<div class="footer">
    <div class="footer-left">
        <div class="footer-left__followme">Follow me</div>
        <div class="footer-left-social">
            <a class="footer-left-social__facebook" target="_blank" href="https://www.facebook.com/Natan-Elkanovich-Pop-Art-112825098785957/">Facebook</a>
            /
            <a class="footer-left-social__instagram" target="_blank" href="https://www.instagram.com/natanelkanovich/">Instagram</a>
        </div>
    </div>
    <a class="footer-right" href="tel:+75435838463">+7 (543) 583 84 63</a>
</div>