.contact{
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  margin: 55px 0;


  &-container{
    padding: 55px 0;
    margin: auto;
    max-width: 500px;
  }

  &__title{
    margin: 0;
    text-align: center;
    font-weight: normal;
    font-size: 50px;
    color: #343434;
    font-family: $font-family-playfair;
  }

}