.portfolio {
    margin-top: 70px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    &__divider {
        height: 1px;
        max-width: $desktop;
        margin: 0 auto;
        border-top: 1px solid #e8e8e8;
    }
    
    &__item {
        background: #eff0f7;
        width: 400px;
        height: 436px;
        margin-bottom: 20px;
        display: block;

        &:hover {
            .portfolio__item-poster::before {
                height: 100%;
                width: 100%;
                display: block;
                content: "";
                background: rgba($color: #000, $alpha: .5);
            }
        }

        &:first-child {
            transform: translateY(90px) !important;

            @include respond-to(phone) {
                display: flex;
            }

            .portfolio__item-description-wrapper {
                height: 436px !important;
            }

            .portfolio__item-poster {
                top: -75px !important;
            }
        }

        &:nth-child(2) {
            margin-top: -60px !important;
        }

        &:nth-child(4n - 3) {
            width: calc(50% - 85px + 570px);
            transform: translateY(-70px);
            height: calc(459px + 53px + 72px);
            position: relative;
            z-index: 0;
            margin-bottom: 20px;
            background-color: transparent;

            @include respond-to(phone) {
                width: 100%;
                transform: none;
            }

            .portfolio__item-description-wrapper {
                width: calc(100% - 570px);
                height: calc(459px + 53px + 72px);
                background: #eff0f7;
                justify-content: flex-end;

                @include respond-to(phone) {
                    width: 100%;
                    justify-content: center;
                }
            }

            .portfolio__item-tile {
                max-width: 300px;
            }

            .portfolio__item-text {
                max-width: 300px;
            }

            .portfolio__item-description-content {
                width: 500px;
                height: 273px;

                @include respond-to(phone) {
                    width: 100%;
                }
            }

            .portfolio__item-poster {
                position: absolute;
                background: url("/assets/images/baba-blue.png") no-repeat center;
                width: 670px;
                height: 459px;
                margin-left:  calc(100% - 670px);
                bottom: 54px;

                @include respond-to(phone) {
                    margin-left: 0;
                    bottom: 0;
                    width: 100%;
                }
            }
        }

        &:nth-child(4n-2) {
            height: 827px;
            width: 600px;
            margin-left: 50%;
            transform: translateX(calc(-100% - 85px)) translateY(0);
            margin-top: -70px;
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;
            background: transparent;

            @include respond-to(phone) {
                width: 100%;
                margin-left: 0;
                transform: none;
            }

            .portfolio__item-description-wrapper {
                align-self: flex-end;
                width: 500px;
                background: #eff0f7;
                height: 368px;
            }

            .portfolio__item-description {
                display: flex;
            }

            .portfolio__item-description-content {
                height: 273px;
            }

            .portfolio__item-poster {
                background: url("/assets/images/guys.png") no-repeat center;
                width: 600px;
                height: 459px;
                
            }
        }

        &:nth-child(4n-1) {
            height: 460px;
            width: 855px;
            margin-left: calc(50% - 65px);
            margin-top: calc(-827px - 74px);
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;

            @include respond-to(phone) {
                width: 100%;
                margin-left: 0;
                margin-top: 0;
                transform: none;
                flex-direction: column-reverse;
            }

            .portfolio__item-description-wrapper {
                display: flex;
                align-items: flex-end;
            }

            .portfolio__item-description-content {
                height: 297px;
            }

            .portfolio__item-poster {
                background: url("/assets/images/baba-red.png") no-repeat center;
                width: 355px;
                height: 460px;
            }
        }

        &:nth-child(4n) {
            height: 470px;
            width: 935px;
            margin-left: calc(50% - 65px);
            background: #eff0f7;
            position: relative;
            z-index: 1;
            display: flex;
            justify-content: space-between;

            @include respond-to(phone) {
                width: 100%;
                margin-left: 0;
                transform: none;
                flex-direction: column-reverse;
            }

            .portfolio__item-description-content {
                height: 307px;
            }

            .portfolio__item-poster {
                background: url("/assets/images/baba-green.png") no-repeat center;
                width: 586px;
                height: 470px;
            }
        }

        &-description {
            display: flex;
            flex-direction: column;

            &-wrapper {
                position: relative;
                font-family: 'PlayfairDisplay';
                color:  #343434;
                display: flex;
                align-items: flex-end;
            }

            &-content {  
                width: 320px;
                padding-left: 20px;
                display: flex;
                flex-direction: column;
            }
        }

        &-title {
            font-size: 40px;
            font-weight: 400;
            line-height: 35px;
        }

        &-text {
            margin-top: 24px;
            font-size: 15px;
            font-weight: 400;
            line-height: 26px;
        }

        &-button {
            font-family: 'ProximaNova';
            color: #000;
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
            text-transform: uppercase;
            margin-bottom: 30px;
            padding-left: 20px;
            text-decoration: none;
            width: 120px;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }

        &-poster {
            &:hover {
                cursor: pointer;
            }

            @include respond-to(phone) {
                max-width: 100%;
                position: relative;
            }
        }
    }
} 