.portfolio {
    display: flex;
    justify-content: space-between;

    &__column {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        min-height: 50vh;
        width: 50%;
        
        &_left {
            padding-right: 15px;
        }

        &_right {
            align-items: flex-start;
            padding-left: 15px;

            .portfolio__item-title {
                margin: 0 100px 0 0;
            }
        }
    }

    &__item {
        margin-bottom: 30px;
        display: block;
        // display: flex;
        // flex-direction: column;
        // justify-content: flex-end;
        

        &-poster {
            display: block;
            position: relative;
            box-sizing: border-box;
            height: auto;


            & > img {
                display: block;
            }

            &:hover {
                cursor: pointer;

                &::before {
                    display: block;
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: #000, $alpha: .4);
                }
            }
        }

        &-title {
            background-color: darken($color: #fcfcfc, $amount: 10);
            margin-left: 100px;
            line-height: 2;
            padding: 0 15px;
            font-weight: 500;
            font-size: 17px;
            width: auto;
        }
    }
} 