.portfolio {
    margin-top: 70px;

    @include respond-to(tablet) {
        padding: 0 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @include respond-to(laptop) {
        display: block;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    &__divider {
        height: 1px;
        max-width: $desktop - 30px;
        margin: 0 auto;
        border-top: 1px solid #e8e8e8;
    }
    
    &__item {
        background: #eff0f7;
        margin-bottom: 20px;
        position: relative;
        box-sizing: border-box;

        @include respond-to(not-desktop) {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;

            @include respond-to(tablet) {
                max-width: calc(50% - 10px);
            }
        }

        @include respond-to(desktop) {
            width: 400px;
            display: block;
            height: 436px;
            margin-bottom: 20px;
        }

        @include respond-to(laptop) {
            width: 400px;
            display: block;
            height: 436px;
            margin-bottom: 20px;
        }

        &:first-child {
            @include respond-to(desktop) {
                transform: translateY(90px) !important;
            }

            @include respond-to(laptop) {
                transform: translateY(90px) !important;
            }

            @include respond-to(not-desktop) {
                display: flex;
            }

            .portfolio__item-description-wrapper {
                @include respond-to(desktop) {
                    height: 436px !important;
                }

                @include respond-to(laptop) {
                    height: 436px !important;
                }
            }

            .portfolio__item-poster {
                @include respond-to(desktop) {
                    top: -75px !important;
                }

                @include respond-to(laptop) {
                    top: -75px !important;
                }
            }
        }

        &:nth-child(2) {
            @include respond-to(desktop) {
                margin-top: -60px !important;
            }

            @include respond-to(laptop) {
                margin-top: -60px !important;
            }
            
        }

        &:nth-child(4n - 3) {
            position: relative;
            z-index: 0;
            margin-bottom: 20px;
            background-color: transparent;

            @include respond-to(desktop) {
                width: calc(50% - 85px + 570px);
                transform: translateY(-70px);
                height: calc(459px + 53px + 72px);
            }

            @include respond-to(laptop) {
                width: calc(50% - 85px + 570px);
                transform: translateY(-70px);
                height: calc(459px + 53px + 72px);
            }

            @include respond-to(not-desktop) {
                width: 100%;
                transform: none;
            }

            .portfolio__item-description-wrapper {                
                background: #eff0f7;

                @include respond-to(desktop) {
                    width: calc(100% - 570px);
                    height: calc(459px + 53px + 72px);
                    justify-content: flex-end;
                }

                @include respond-to(laptop) {
                    width: calc(100% - 570px);
                    height: calc(459px + 53px + 72px);
                    justify-content: flex-end;
                }
            }

            .portfolio__item-tile {
                @include respond-to(desktop) {
                   max-width: 300px;
                }

                @include respond-to(laptop) {
                    max-width: 300px;
                }
            }

            .portfolio__item-text {
                @include respond-to(desktop) {
                   max-width: 300px;
                }

                @include respond-to(laptop) {
                    max-width: 300px;
                }
            }

            .portfolio__item-description-content {
                @include respond-to(desktop) {
                    width: 500px;
                    height: 273px;
                }

                @include respond-to(laptop) {
                    width: 500px;
                    height: 273px;
                }
            }

            .portfolio__item-poster {
                @include respond-to(desktop) {
                    width: 670px;
                    height: 459px;
                    margin-left:  calc(100% - 670px);
                    bottom: 54px;
                    position: absolute;
                }

                @include respond-to(laptop) {
                    width: 670px;
                    height: 459px;
                    margin-left:  calc(100% - 670px);
                    bottom: 54px;
                    position: absolute;
                }

                @include respond-to(not-desktop) {
                    width: 100%;
                }

                background: url("/assets/images/baba-blue.png") no-repeat center;
                background-size: cover;
            }
        }

        &:nth-child(4n-2) {
            display: flex;
            background: transparent;

            @include respond-to(desktop) {
                height: 827px;
                width: 600px;
                margin-left: 50%;
                transform: translateX(calc(-100% - 85px)) translateY(0);
                margin-top: -70px;
                flex-direction: column-reverse;
                justify-content: flex-end;
            }

            @include respond-to(laptop) {
                height: 827px;
                width: 600px;
                margin-left: 50%;
                transform: translateX(calc(-100% - 85px)) translateY(0);
                margin-top: -70px;
                flex-direction: column-reverse;
                justify-content: flex-end;
            }

            @include respond-to(not-desktop) {
                width: 100%;
                margin-left: 0;
                transform: none;
            }

            .portfolio__item-description-wrapper {
                background: #eff0f7;

                @include respond-to(desktop) {
                    align-self: flex-end;
                    width: 500px;
                    height: 368px;
                }

                @include respond-to(laptop) {
                    align-self: flex-end;
                    width: 500px;
                    height: 368px;
                }
            }

            .portfolio__item-description {
                display: flex;
            }

            .portfolio__item-description-content {
                @include respond-to(desktop) {
                    height: 273px;
                }

                @include respond-to(laptop) {
                    height: 273px;
                }
            }

            .portfolio__item-poster {
                background: url("/assets/images/guys.png") no-repeat center;
                background-size: cover;

                @include respond-to(desktop) {
                    width: 600px;
                    height: 459px;
                }

                @include respond-to(laptop) {
                    width: 600px;
                    height: 459px;
                }

                @include respond-to(not-desktop) {
                    width: 100%;
                }
                
            }
        }

        &:nth-child(4n-1) {
            position: relative;
            z-index: 1;
            display: flex;
            
            @include respond-to(desktop) {
                height: 460px;
                width: 855px;
                margin-left: calc(50% - 65px);
                margin-top: calc(-827px - 74px);
                flex-direction: row-reverse;
                justify-content: flex-end;
            }

            @include respond-to(laptop) {
                height: 460px;
                width: 855px;
                margin-left: calc(50% - 65px);
                margin-top: calc(-827px - 74px);
                flex-direction: row-reverse;
                justify-content: flex-end;
            }

            @include respond-to(not-desktop) {
                width: 100%;
                margin-left: 0;
                margin-top: 0;
                transform: none;
                flex-direction: column-reverse;
            }

            .portfolio__item-description-wrapper {
                @include respond-to(desktop) {
                    display: flex;
                    align-items: flex-end;
                }

                @include respond-to(laptop) {
                    display: flex;
                    align-items: flex-end;
                }
            }

            .portfolio__item-description-content {
                @include respond-to(desktop) {
                    height: 297px;
                }

                @include respond-to(laptop) {
                    height: 297px;
                }
            }

            .portfolio__item-poster {
                background: url("/assets/images/baba-red.png") no-repeat center;
                background-size: cover;
            
                @include respond-to(desktop) {
                    width: 355px;
                    height: 460px;
                }

                @include respond-to(laptop) {
                    width: 355px;
                    height: 460px;
                }

                @include respond-to(not-desktop) {
                    width: 100%;
                }
            }
        }

        &:nth-child(4n) {
            background: #eff0f7;
            position: relative;
            z-index: 1;

            @include respond-to(not-desktop) {
                width: 100%;
                margin-left: 0;
                transform: none;
                flex-direction: column-reverse;
            }

            @include respond-to(laptop) {
                height: 470px;
                width: 935px;
                margin-left: calc(50% - 65px);
                display: flex;
                justify-content: space-between;
            }

            @include respond-to(desktop) {
                height: 470px;
                width: 935px;
                margin-left: calc(50% - 65px);
                display: flex;
                justify-content: space-between;
            }

            .portfolio__item-description-content {
                @include respond-to(desktop) {
                    height: 307px;
                }

                @include respond-to(laptop) {
                    height: 307px;
                }
            }

            .portfolio__item-poster {
                background: url("/assets/images/baba-green.png") no-repeat center;
                background-size: cover;

                @include respond-to(not-desktop) {
                    width: 100%;
                }
                
                @include respond-to(laptop) {
                    width: 586px;
                    height: 470px;
                }

                @include respond-to(desktop) {
                    width: 586px;
                    height: 470px;
                }
            }
        }

        &-description {
            display: flex;
            flex-direction: column;

            &-wrapper {
                position: relative;
                font-family: 'PlayfairDisplay';
                color: #343434;
                display: flex;
                align-items: flex-end;

                @include respond-to(not-desktop) {
                    display: flex;
                    align-items: center;
                }
            }

            &-content {  
                display: flex;
                flex-direction: column;

                @include respond-to(not-desktop) {
                    width: 100%;
                    padding: 14px;
                }

                @include respond-to(laptop) {
                    width: 320px;
                    padding-left: 20px;
                }

                @include respond-to(desktop) {
                    width: 320px;
                    padding-left: 20px;
                }
            }
        }

        &-title {
            font-size: 40px;
            font-weight: 400;
            line-height: 35px;

            @include respond-to(not-desktop) {
                display: inline-block;
                margin-top: 0;
            }
        }

        &-text {
            margin-top: 24px;
            font-size: 15px;
            font-weight: 400;
            line-height: 26px;
   
            @include respond-to(not-desktop) {
                margin-top: 15px;
            }
        }

        &-button {
            font-family: 'ProximaNova';
            color: #000;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;

            @include respond-to(desktop) {
                width: 120px;
                margin-bottom: 24px;
                padding-left: 20px;
            }

            @include respond-to(laptop) {
                width: 120px;
                margin-bottom: 24px;
                padding-left: 20px;
            }

            @include respond-to(not-desktop) {
                margin: 0 14px 14px;
            }

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }

        &-poster {
            @include respond-to(not-desktop) {
                width: 100%;
                height: 459px;
                display: inline-block;
            }

            &:hover {
                cursor: pointer;

                &::before {
                    height: 100%;
                    width: 100%;
                    display: block;
                    content: "";
                    background: rgba($color: #000, $alpha: .5);
                }
            }

            @include respond-to(not-desktop) {
                max-width: 100%;
                position: relative;
            }
        }
    }
} 