<!-- <div class="portfolio__divider"></div>
<div class="portfolio">
    <div class="portfolio__item">
        <a href="" class="portfolio__item-poster"></a>
        <div class="portfolio__item-title">
            Superiotity
        </div>
    </div>
    <div class="portfolio__item">
        <a href="" class="portfolio__item-poster"></a>
        <div class="portfolio__item-title">
            Superiotity
        </div>
    </div>
    <div class="portfolio__item">
        <a href="" class="portfolio__item-poster"></a>
        <div class="portfolio__item-title">
            Superiotity
        </div>
    </div>
    <div class="portfolio__item">
        <a href="" class="portfolio__item-poster"></a>
        <div class="portfolio__item-title">
            Superiotity
        </div>
    </div>
    <div class="portfolio__item">
        <a href="" class="portfolio__item-poster"></a>
        <div class="portfolio__item-title">
            Superiotity
        </div>
    </div>
    
</div>
<div class="portfolio__divider" style="margin-top: 100px"></div> -->

<div class="portfolio">
    <div class="portfolio__column portfolio__column_left">
        <div class="portfolio__item">
            <a href="">
                <div class="portfolio__item-poster">
                    <img src="/assets/images/baba-red.png" alt="">
                </div>
            </a>
            <div class="portfolio__item-title">Lorem ipsum dolor sit amet.</div>
        </div>
        <div class="portfolio__item">
            <a href="">
                <div class="portfolio__item-poster">
                    <img src="/assets/images/baba-blue.png" alt="">
                </div>
            </a>
            <div class="portfolio__item-title">Lorem ipsum dolor sit amet.</div>
        </div>
        <div class="portfolio__item">
            <a href="">
                <div class="portfolio__item-poster">
                    <img src="/assets/images/baba-green.png" alt="">
                </div>
            </a>
            <div class="portfolio__item-title">Lorem ipsum dolor sit amet.</div>
        </div>
    </div>
    <div class="portfolio__column portfolio__column_right">
        <div class="portfolio__item">
            <a href="">
                <div class="portfolio__item-poster">
                    <img src="/assets/images/baba-blue.png" alt="">
                </div>
            </a>
            <div class="portfolio__item-title">Lorem ipsum dolor sit amet.</div>
        </div>
        <div class="portfolio__item">
            <a href="">
                <div class="portfolio__item-poster">
                    <img src="/assets/images/commissionme.png" alt="">
                </div>
            </a>
            <div class="portfolio__item-title">Lorem ipsum dolor sit amet. </div>
        </div>
        <div class="portfolio__item">
            <a href="">
                <div class="portfolio__item-poster">
                    <img src="/assets/images/baba-green.png" alt="">
                </div>
            </a>
            <div class="portfolio__item-title">Lorem ipsum dolor sit amet.</div>
        </div>
        <div class="portfolio__item">
            <a href="">
                <div class="portfolio__item-poster">
                    <img src="/assets/images/baba-red.png" alt="">
                </div>
            </a>
            <div class="portfolio__item-title">Lorem ipsum dolor sit amet. </div>
        </div>
    </div>
</div>

<script>
    var itemsList = document.querySelectorAll('.portfolio__item');
    
    itemsList.forEach((item) => {
        let image = item.querySelector('img');

        item.querySelector('.portfolio__item-title').style.width = `${image.width - 100}px`;
    });
</script>