<div class="portfolio">
    <div class="portfolio__item">
        <div class="portfolio__item-description-wrapper">
            <div class="portfolio__item-description">
                <div class="portfolio__item-description-content">
                    <div class="portfolio__item-title">
                        Superiotity
                    </div>
                    <div class="portfolio__item-text">
                        The telephone headset was ok though. At least he knew what that was. His only other job ever 
                        had been in a fast food restaurant in London.
                    </div>
                </div>
                <a href="" class="portfolio__item-button">view more</a>
            </div>
        </div>
        <a href="" class="portfolio__item-poster"></a>
    </div>
    <div class="portfolio__item">
        <div class="portfolio__item-description-wrapper">
            <div class="portfolio__item-description">
                <div class="portfolio__item-description-content">
                    <div class="portfolio__item-title">
                        Superiotity
                    </div>
                    <div class="portfolio__item-text">
                        The telephone headset was ok though. At least he knew what that was. His only other job ever 
                        had been in a fast food restaurant in London.
                    </div>
                </div>
                <a href="" class="portfolio__item-button">view more</a>
            </div>
        </div>
        <a href="" class="portfolio__item-poster"></a>
    </div>
    <div class="portfolio__item">
        <div class="portfolio__item-description-wrapper">
            <div class="portfolio__item-description">
                <div class="portfolio__item-description-content">
                    <div class="portfolio__item-title">
                        Superiotity
                    </div>
                    <div class="portfolio__item-text">
                        The telephone headset was ok though. At least he knew what that was. His only other job ever 
                        had been in a fast food restaurant in London.
                    </div>
                </div>
                <a href="" class="portfolio__item-button">view more</a>
            </div>
        </div>
        <a href="" class="portfolio__item-poster"></a>
    </div>
    <div class="portfolio__item">
        <div class="portfolio__item-description-wrapper">
            <div class="portfolio__item-description">
                <div class="portfolio__item-description-content">
                    <div class="portfolio__item-title">
                        Superiotity
                    </div>
                    <div class="portfolio__item-text">
                        The telephone headset was ok though. At least he knew what that was. His only other job ever 
                        had been in a fast food restaurant in London.
                    </div>
                </div>
                <a href="" class="portfolio__item-button">view more</a>
            </div>
        </div>
        <a href="" class="portfolio__item-poster"></a>
    </div>
    <div class="portfolio__item">
        <div class="portfolio__item-description-wrapper">
            <div class="portfolio__item-description">
                <div class="portfolio__item-description-content">
                    <div class="portfolio__item-title">
                        Superiotity
                    </div>
                    <div class="portfolio__item-text">
                        The telephone headset was ok though. At least he knew what that was. His only other job ever 
                        had been in a fast food restaurant in London.
                    </div>
                </div>
                <a href="" class="portfolio__item-button">view more</a>
            </div>
        </div>
        <a href="" class="portfolio__item-poster"></a>
    </div>
</div>