<!-- <div class="portfolio__divider"></div>
<div class="portfolio">
    <div class="portfolio__item">
        <a href="" class="portfolio__item-poster"></a>
        <div class="portfolio__item-title">
            Superiotity
        </div>
    </div>
    <div class="portfolio__item">
        <a href="" class="portfolio__item-poster"></a>
        <div class="portfolio__item-title">
            Superiotity
        </div>
    </div>
    <div class="portfolio__item">
        <a href="" class="portfolio__item-poster"></a>
        <div class="portfolio__item-title">
            Superiotity
        </div>
    </div>
    <div class="portfolio__item">
        <a href="" class="portfolio__item-poster"></a>
        <div class="portfolio__item-title">
            Superiotity
        </div>
    </div>
    <div class="portfolio__item">
        <a href="" class="portfolio__item-poster"></a>
        <div class="portfolio__item-title">
            Superiotity
        </div>
    </div>
    
</div>
<div class="portfolio__divider" style="margin-top: 100px"></div> -->

<div class="portfolio">
    <div class="portfolio__column portfolio__column_left"></div>
    <div class="portfolio__column portfolio__column_right"></div>

    <div class="portfolio__item">
        <a href="">
            <div class="portfolio__item-poster">
                <img src="/assets/images/baba-red.png" alt="">
            </div>
        </a>
        <div class="portfolio__item-title">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="portfolio__item">
        <a href="">
            <div class="portfolio__item-poster">
                <img src="/assets/images/baba-blue.png" alt="">
            </div>
        </a>
        <div class="portfolio__item-title">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="portfolio__item">
        <a href="">
            <div class="portfolio__item-poster">
                <img src="/assets/images/baba-blue.png" alt="">
            </div>
        </a>
        <div class="portfolio__item-title">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="portfolio__item">
        <a href="">
            <div class="portfolio__item-poster">
                <img src="/assets/images/commissionme.png" alt="">
            </div>
        </a>
        <div class="portfolio__item-title">Lorem ipsum dolor sit amet. </div>
    </div>
    <div class="portfolio__item">
        <a href="">
            <div class="portfolio__item-poster">
                <img src="/assets/images/baba-green.png" alt="">
            </div>
        </a>
        <div class="portfolio__item-title">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="portfolio__item">
        <a href="">
            <div class="portfolio__item-poster">
                <img src="/assets/images/baba-green.png" alt="">
            </div>
        </a>
        <div class="portfolio__item-title">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="portfolio__item">
        <a href="">
            <div class="portfolio__item-poster">
                <img src="/assets/images/baba-red.png" alt="">
            </div>
        </a>
        <div class="portfolio__item-title">Lorem ipsum dolor sit amet. </div>
    </div>
    <div class="portfolio__item">
        <a href="">
            <div class="portfolio__item-poster">
                <img src="/assets/images/baba-blue.png" alt="">
            </div>
        </a>
        <div class="portfolio__item-title">Lorem ipsum dolor sit amet.</div>
    </div>
</div>



<div class="spinner__wrapper">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

<script>
    window.addEventListener("resize", buildGrid);
    function setTitleWidth(itemsList) {
        itemsList.forEach((item) => {
            let image = item.querySelector('img');
            if (window.screen.width > 767) {
                item.querySelector('.portfolio__item-title').style.width = `${image.width - 100}px`;
            } else {
                item.querySelector('.portfolio__item-title').style.width = `${image.width}px`;
            }
        });
    }

    function separatingByColumns(itemsList) {
        [...itemsList].forEach((item, index) => {
            if (index % 2) {
                document.querySelector(".portfolio__column_right").appendChild(item);
            } else if (index === 0) {
                document.querySelector(".portfolio__column_left").appendChild(item);
            } else {
                document.querySelector(".portfolio__column_left").appendChild(item);
            }
        });
    }

    function joinItems(itemsList) {
        [...itemsList].forEach((item) => {
            document.querySelector(".portfolio").appendChild(item);
        });
    }

    function buildGrid() {
        var itemsList = document.querySelectorAll('.portfolio__item');
        
        if (window.screen.width > 767) {
            separatingByColumns(itemsList);
            setTitleWidth(itemsList);
        } else {
            joinItems(itemsList);
            setTitleWidth(itemsList);
        }

        setTimeout(() => {
            document.querySelector(".spinner__wrapper").style.display = "none";
        }, 1300)
    }

    buildGrid();
</script>