.contact-form {

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: $font-family-primary;

        &-wrapper {
            padding: 50px;
            background-color: #fff;
            margin: auto;

            @include respond-to(phone) {
                width: 100%;
            }

        }

        &-item {
           position: relative;

           @include respond-to(phone) {
               width: calc(100% - #{$gutter} * 2);
           }
        }

        &-input {
            height: 35px;
            width: 295px;
            border: none;
            border-bottom: 1px solid #363638;
            color: #343434;
            font-size: 14px;
            font-weight: 500;
            text-align: left;
            margin: 13px 0;

            @include respond-to(phone) {
                width: 100%;
            }

            &:focus,
            &:valid {
                outline: none;
                border-color: #d4d4d4;

                & + label {
                    font-size: 11px;
                    transform: translateY(-20px);
                    font-weight: 400;
                }
            }
        }

        label {
            transition: all .2s;
            position: absolute;
            top: 24px;
            pointer-events: none;
            box-sizing: border-box;
            color:  #68686e;
            font-size: 14px;
            font-weight: 500;
        }

        &-submit {
            box-sizing: border-box;
            background-color: #fff;
            cursor: pointer;
            border-width: 2px;
            border-color: #343434;
            border-style: solid;
            width: 205px;
            height: 46px;
            text-transform: uppercase;
            margin-top: 50px;
            font-family: 'PT Sans';
            color: #343434;
            font-size: 15px;
            font-weight: 700;
            line-height: 35px;
            transition: all ease-in-out .15s;

            &:hover,
            &:focus {
                background-color: #343434;
                color: #fff;
            }
        }
        
    }

    &__info {
        display: flex;
        justify-content: center;
        margin-top: 50px;

        @include respond-to(phone) {
            @media (orientation: portrait) {
                flex-direction: column;
                text-align: center;
            }
        }

        &-item {
            display: flex;
            flex-direction: column;
            color: #343434;
            font-weight: 500;
            font-size: 14px;

            &:first-child {
                margin-right: 75px;

                @include respond-to(phone) {
                    @media (orientation: portrait) {
                        margin-right: 0;
                        margin-bottom: 30px;
                    }
                }
            }

            &-title {
                text-transform: uppercase;
                line-height: 1;
                margin-bottom: 22px;
                display: block;

                @include respond-to(phone) {
                    margin-bottom: 15px;
                }
            }
    
            &-value {
                line-height: 1;
                display: block;
            }
        }
    }
}