<div class="contact-form__form-wrapper">
    <form action="" class="contact-form__form">
            <span class="contact-form__form-item">
                <input type="text" class="contact-form__form-input" id="name" required>
                <label for="name">Name</label>
            </span>
        <span class="contact-form__form-item">
                <input type="text" class="contact-form__form-input" id="email" required>
                <label for="email">Phone or Email</label>
            </span>
        <span class="contact-form__form-item">
                <input type="text" class="contact-form__form-input" id="message" required>
                <label for="message">Message</label>
            </span>
        <button class="contact-form__form-submit">send</button>
    </form>
    <div class="contact-form__info">
        <div class="contact-form__info-item">
            <span class="contact-form__info-item-title">
                email
            </span>
            <span class="contact-form__info-item-value">
                natanelkanovich@gmail.com
            </span>
        </div>
        <div class="contact-form__info-item">
            <span class="contact-form__info-item-title">
                phone
            </span>
            <span class="contact-form__info-item-value">
                +972 522 585204
            </span>
        </div>
    </div>
</div>