.commissionMe {
  margin: 55px 0;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;

  &-container {
    display: flex;
    padding: 105px 0;
    flex-direction: row;
    justify-content: space-between;

    @include respond-to(not-desktop) {
      flex-direction: column;

      padding: 25px 0;
    }

  }

  &-left {
    width: 60%;

    @include respond-to(not-desktop) {
      width: 100%;
    }

    &-up {
      background: url("../images/commissionme.png") no-repeat;
      max-width: 80%;
      min-height: 233px;
      height: auto;

      @include respond-to(not-desktop) {
        display: none;
      }

    }

    &-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @include respond-to(not-desktop) {
        justify-content: center;
      }

      &__image {
        background: url("../images/commissionme1.png") no-repeat;
        min-width: 60%;
        min-height: 235px;
        height: auto;

        @include respond-to(not-desktop) {
          display: none;
        }
      }
      &-description {
        margin-top: 20px;
        width: 37%;
        padding: 10px 0;

        @include respond-to(not-desktop) {
          width: 100%;
        }

        &__title {
          font-family: $font-family-merriweather;
          color: #343434;
          font-size: 45px;
          font-weight: 300;
        }

        &__text {
          margin-top: 10px;
          font-family: $font-family-merriweather;
          color: #343434;
          font-size: 14px;
          font-weight: 400;
          line-height: 26px;

          span {
            margin-top: 10px;
            display: block;
          }
        }

      }
    }

  }
  &-right {
    width: 34%;
    border: 1px solid #e8e8e8;
    max-height: 500px;

    @include respond-to(not-desktop) {
      max-height: unset;
      width: 100%;
      border: none;
    }
  }

}