<div class="commissionMe">
    <div class="commissionMe-container">
        <div class="commissionMe-left">
            <div class="commissionMe-left-up">

            </div>
            <div class="commissionMe-left-bottom">
                <div class="commissionMe-left-bottom__image"></div>
                <div class="commissionMe-left-bottom-description">
                    <div class="commissionMe-left-bottom-description__title">
                        Commission me
                    </div>
                    <div class="commissionMe-left-bottom-description__text">
                        Please e-mail me what is your wish, size and any other details you would like incorporated in
                        your
                        piece. All pieces are signed originals.
                        They are all one of a kind! In order to get started,
                        a 50% deposit is needed.
                    </div>
                    <div class="commissionMe-left-bottom-description__text">
                        When the piece is finished, photos will be e-mailed and the remain balance will be due before
                        the shipment. I ship everywhere on the Globe.
                    </div>
                </div>
            </div>
        </div>

        <div class="commissionMe-right">
            //= ../contact-form/contact-form.html
        </div>
    </div>

</div>