.header {
    font-family: $font-family-secondary;
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;

    &-logo {
        text-align: center;
        color: #000;
        text-decoration: none;
        font-family: $font-family-primary;
        font-size: 24px;
        font-weight: 700;

        @include respond-to(laptop) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        @include respond-to(desktop) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}