<div class="header">
    <div class="header-leftmenu">
        <a href="" class="header-leftmenu__item">Bio</a>
        <a href="" class="header-leftmenu__item">Canvas paintings</a>
        <a href="" class="header-leftmenu__item">lacquered Paintings</a>

    </div>
    <a class="header-logo" href="#">
        Natan Elkanovich
    </a>
    <div class="header-rightmenu">

        <a href="" class="header-rightmenu__item">Press</a>
        <a href="" class="header-rightmenu__item">Commission me</a>
        <a href="" class="header-rightmenu__item">Contact</a>


    </div>
</div>