<div class="header">
    <label for="menu" class="menu__burger-label">
        <div class="menu__burger">
            <span class="menu__burger-stripe"></span>
            <span class="menu__burger-stripe"></span>
            <span class="menu__burger-stripe"></span>
        </div>
    </label>
    <input type="checkbox" class="menu__checkbox" id="menu">

    //= ../menu/menu.html
    
    <a class="header-logo" href="#">
        Natan Elkanovich
    </a>
    <ul class="menu">
        <li>
            <a href="" class="menu__item">Press</a>
        </li>
        <li>
            <a href="" class="menu__item">Commission me</a>
        </li>
        <li>
            <a href="" class="menu__item">Contact</a>
        </li>
    </ul>
</div>