.bio {
    $right-side-padding-left: 115px;
    margin-top: 60px;
    padding-top: 70px;
    padding-bottom: 120px;
    margin-bottom: 60px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    font-family: $font-family-playfair;
    color: #343434;

    @include respond-to(not-desktop) {
        padding-bottom: 100px;
    }

    [class*="_left"],
    [class*="_right"] {
        width: 50%;
        font-size: 16px;

        @include respond-to(phone) {
            width: 100%;
        }
    }

    &__title {
        font-size: 50px;
        font-weight: 400;
        line-height: 35px;
        width: 380px;
        margin-top: 92px;

        @include respond-to(phone) {
            width: 100%;
            margin-top: 10px;
        }
    }

    &__item {
        min-height: 100px;
        width: 100%;
        display: flex;
        margin-bottom: 200px;
        font-size: 14px;
        font-weight: 700;
        line-height: 26px;

        @include respond-to(phone) {
            flex-direction: column;
            margin-bottom: 0;
        }

        &_left {
            display: flex;
            justify-content: flex-end;
            padding-right: 115px;

            @include respond-to(phone) {
                padding-right: 0;
            }
        }

        &-text {
            width: 380px;
            margin-bottom: 28px;
            margin-top: 0;

            @include respond-to(phone) {
                width: 100%;
            }
        }
    }

    &__intro &__item_right,
    &__second &__item_right,
    &__third &__item_right {
        padding-left: $right-side-padding-left;

        @include respond-to(phone) {
            padding-left: 0;
        }
    }

    &__intro {
        &-poster {
            background: url("/assets/images/bio-intro.png") no-repeat center;
            width: 470px;
            height: 502px;

            @include respond-to(phone) {
                width: calc(100% + 15px);
                margin-top: 45px;
            }
        }

        .bio__item_left {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            padding-right: 115px;

            @include respond-to(phone) {
                padding-right: 0;
            }
        }
    }
    
    &__second {
        &-poster {
            background: url("/assets/images/bio-second.png") no-repeat center;
            width: 670px;
            height: 502px;

            @include respond-to(phone) {
                display: none;
            }
        }

        .bio__item_right {
            padding-top: 100px;

            @include respond-to(not-desktop) {
                padding-top: 60px;
            }
        }
    }

    &__gadot {
        &-poster {
            background: url("/assets/images/Me_&_Gal.jpg") no-repeat center;
            width: 480px;
            height: 502px;
            margin-left: 115px;
    
            @include respond-to(phone) {
                // display: none;
            }
        }

        .bio__item_left {
            padding-top: 160px;

            @include respond-to(not-desktop) {
                padding-top: 60px;
            }

            @media screen and (max-width: 1366px) {
                padding-top: 150px;
            }
        }
    }

    &__third {
        margin-bottom: 0;

        @include respond-to(not-desktop) {
            margin-top: 55px;
            padding-left: 45px;

            .bio__item-text {
                line-height: 26px;
                max-width: 380px;
            }
        }
    }

    &__quote {
        max-width: 1150px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        position: relative;
        padding-left: 63px;
        margin-bottom: 190px;
        font-size: 16px;

        @include respond-to(phone) {
            padding-left: 45px;
            margin-bottom: 70px;
        }

        &-title {
            font-size: 30px;
            font-weight: 400;
            line-height: 50px;

            @include respond-to(not-desktop) {
                margin-top: -2px;
            }
        }

        &-note {
            @include respond-to(not-desktop) {
                line-height: 24px;
            }
        }

        &:before {
            display: block;
            content: "";
            position: absolute;
            top: -98px;
            left: 0;
            width: 178px;
            height: 165px;
            background: url("/assets/images/bio-quote.png") no-repeat center;

            @include respond-to(phone) {
                top: -129px;
                left: -17px;
            }
        }
    }

    &__fourth {
        @include respond-to(phone) {
            flex-direction: column-reverse;
        }

        &-poster {
            background: url("/assets/images/bio-fourth.png") no-repeat center;
            height: 502px;

            @include respond-to(phone) {
                margin-left: -15px;
                margin-right: -15px;
                width: calc(100% + 30px);
            }

            @include respond-to(laptop) {
                max-width: 660px;
                margin-left: 0;
            }

            @include respond-to(desktop) {
                width: 670px;
                margin-left: 15px;
            }
        }

        .bio__item_left {
            margin-top: 120px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            padding-right: 315px;

            @include respond-to(phone) {
                padding-right: 0;
                margin-top: 65px;
            }

            @media screen and (max-width: 1366px) {
                padding-right: 150px;
            }
        }

        .bio__item-text {
            max-width: 470px;
            width: 100%;
        }
    }

    &__fifth {
        margin-bottom: 100px;

        @include respond-to(not-desktop) {
            margin-bottom: 30px;
        }

        &-poster {
            background: url("/assets/images/bio-fifth.png") no-repeat center;
            width: 670px;
            height: 502px;

            @include respond-to(phone) {
                background-position-x: right;
                margin: 40px -15px 10px;
                width: calc(100% + 30px);
            }
        }

        .bio__item_right {
            @include respond-to(phone) {
                padding-left: 0;
            }

            @include respond-to(laptop) {
                padding-left: 0;
            }

            @include respond-to(desktop) {
                padding-left: 60px;
            }

            .bio__item-text {
                &:last-child {
                    width: 380px;
                    margin-top: 40px;
                    
                    @include respond-to(phone) {
                        margin-left: 0;
                        margin-top: 40px;
                        width: 100%;
                    }

                    @include respond-to(laptop) {
                        margin-left: 250px;
                    }

                    @include respond-to(desktop) {
                        margin-left: 293px;
                    }
                }
            }
        }
    }

    &__commission {
        max-width: 970px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &-title {
            font-size: 30px;
            font-weight: 400;
            line-height: 50px;
            text-align: center;
        }

        &-link {
            font-family: "ProximaNova";
            color: #1396e9;
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
            text-align: center;
            text-decoration: none;
            width: 120px;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }
}