<div class="bio">
    <div class="bio__item bio__intro">
        <div class="bio__item_left">
            <h2 class="bio__title">Bio</h2>
            <p class="bio__item-text">
                Born in Moldova, former USSR, 1966.<br>
                From 1976 lives and creates in Israel.
            </p>
            <p class="bio__item-text">
                Attended Shenkar, College of Engineering and Design, Tel Aviv.<br>
                Bachelor of Design Degree in Fashion Design.
            </p>
            <p class="bio__item-text">
                Since 1995, Natan works as a senior costume designer in the Israeli cinema and television industry.
            </p>
        </div>
        <div class="bio__item_right">
            <div class="bio__intro-poster"></div>
        </div>
    </div>
    <div class="bio__item bio__second">
        <div class="bio__item_left">
            <div class="bio__second-poster"></div>
        </div>
        <div class="bio__item_right">
            <p class="bio__item-text">
                Ever since painting became an integral part of his life, Natan has worked to develop his unique 
                painting technique, in which he mixes all kinds of plastic materials in different quantities, which 
                include, amongst other things silicon and acrylic, which he then applies on the canvas. 
            </p>
            <p class="bio__item-text">
                This medium creates a 3D texture
                on the surface. Sometimes he adds Swarovski elements and all kinds of glitter to
                the end result. The materials are painstakingly and entirely made by Natan, and there is
                no machinery involved in the process.
            </p>
        </div>
    </div>
    <div class="bio__item bio__gadot">
        <div class="bio__item_left">
            <p class="bio__item-text">
                To date, Natan Elkanovich he has been awarded four Israeli Academy Awards for best
                costume design. One of the highlights of Natan’s career was to design the costumes for
                internationally acclaimed actress Gal Gadot’s last Israeli movie prior to being selected to
                play Wonder Woman. When their work together was done, he presented the actress with
                her portrait.
            </p>
        </div>
        <div class="bio__item_right">
            <div class="bio__gadot-poster"></div>
        </div>
    </div>
    <div class="bio__item bio__third">
        <div class="bio__item_left"></div>
        <div class="bio__item_right">
            <p class="bio__item-text">
                In addition to the paintbrush, Natan also uses kitchenware to apply these self
                made materials. As he recalls, this stems from his deep seated roots in the
                kitchen, embedded in him from early childhood.
            </p>
        </div>
    </div>
    <div class="bio__item bio__quote">
        <h3 class="bio__quote-title">
            “Most of my time after school was shared with my Mom in our kitchen. She was
            an excellent cook and I used to sit with her there and talk to her, do my homework, draw
            in my sketchbook and help her with all the cooking. I would decorate the food before it
            was served, creating small works-of- art from food by
            using a variety of Kitchenware.”
        </h3>
        <span>
            Natan`s motto in life is love, appreciation, respect and gratitude for people and the environment in which 
            he lives. He illustrates this in his art.
        </span>
    </div>
    <div class="bio__item bio__fourth">
        <div class="bio__item_left">
            <p class="bio__item-text">
                In his words: “I was always entranced by people and I consider myself a
                humanist.  What interests me in particular is the positive side of human beings.
                I’m not interested in dealing with hate, envy, anger, war and other negative
                aspects of humanity.”
            </p>
            <p class="bio__item-text">
                “I was always driven by love: the love of family, friends, of nature and its
                surroundings and the love of creating. Perhaps because of this, when I paint
                I choose to emphasize those positive aspects of humanity, such as love,
                yearning, nostalgia, longing, appreciation, honor and gratitude.”
            </p>
        </div>
        <div class="bio__item_right">
            <div class="bio__fourth-poster"></div>
        </div>
    </div>
    <div class="bio__item bio__fifth">
        <div class="bio__item_left">
            <div class="bio__fifth-poster"></div>
        </div>
        <div class="bio__item_right">
            <p class="bio__item-text">
                Natan executes portraits of famous people and paints homages to famous
                works-of- art which have influenced and impacted his life deeply both through
                philosophy and Pop Culture.  By painting them Natan expresses the respect he
                has for them and their great impact on his world. In his words: “I paint famous
                people and homages of art works by great masters that have had a deep impact
                on my life, as did my parents and teachers, who heavily contributed to my spiritual
                worldview and are depicted in my paintings too.
            </p>
            <p class="bio__item-text">
                These people were my ‘babysitters’ and
                by painting them now, I express, without the slightest hint of
                cynicism, my great appreciation and endless thanks to them for building my inner world.
                My paintings come from my great appreciation and personal gratitude to the painted
                figure and not out of a desire to educate or preach any message other than love.”
            </p>
        </div>
    </div>
    <div class="bio__item bio__commission">
        <h3 class="bio__commission-title">
            Natan`s paintings are exhibited and sold at prime galleries all <br>
            over the world, and are included in numerous private art collections.
        </h3>
        <a class="bio__commission-link" href="/commission">Commission Me</a>
    </div>
</div>