<div class="press">
    <div class="press-container">
        <div class="press__title">Press</div>
        <div class="press-box">
            <a href="#" class="press__item">
                <div class="press__item-poster"></div>
                <div class="press__item-description">
                    <div class="press__item-description__title">Title of item</div>
                    <p class="press__item-description__text">
                        Text of item.Text of item.Text of item.Text of item.Text of item.Text of item.
                    </p>
                    <span class="press__item-description__date">21 november, 2017</span>
                </div>
            </a>
            <a href="#" class="press__item">
                <div class="press__item-poster"></div>
                <div class="press__item-description">
                    <div class="press__item-description__title">Title of item</div>
                    <p class="press__item-description__text">
                        Text of item.Text of item.Text of item.Text of item.Text of item.Text of item.
                    </p>
                    <span class="press__item-description__date">21 november, 2017</span>
                </div>
            </a>
            <a href="#" class="press__item">
                <div class="press__item-poster"></div>
                <div class="press__item-description">
                    <div class="press__item-description__title">Title of item</div>
                    <p class="press__item-description__text">
                        Text of item.Text of item.Text of item.Text of item.Text of item.Text of item.
                    </p>
                    <span class="press__item-description__date">21 november, 2017</span>
                </div>
            </a>
            <a href="#" class="press__item">
                <div class="press__item-poster"></div>
                <div class="press__item-description">
                    <div class="press__item-description__title">Title of item</div>
                    <p class="press__item-description__text">
                        Text of item.Text of item.Text of item.Text of item.Text of item.Text of item.
                    </p>
                    <span class="press__item-description__date">21 november, 2017</span>
                </div>
            </a>
            <a href="#" class="press__item">
                <div class="press__item-poster"></div>
                <div class="press__item-description">
                    <div class="press__item-description__title">Title of item</div>
                    <p class="press__item-description__text">
                        Text of item.Text of item.Text of item.Text of item.Text of item.Text of item.
                    </p>
                    <span class="press__item-description__date">21 november, 2017</span>
                </div>
            </a>
            <a href="#" class="press__item">
                <div class="press__item-poster"></div>
                <div class="press__item-description">
                    <div class="press__item-description__title">Title of item</div>
                    <p class="press__item-description__text">
                        Text of item.Text of item.Text of item.Text of item.Text of item.Text of item.
                    </p>
                    <span class="press__item-description__date">21 november, 2017</span>
                </div>
            </a>
            <a href="#" class="press__item">
                <div class="press__item-poster"></div>
                <div class="press__item-description">
                    <div class="press__item-description__title">Title of item</div>
                    <p class="press__item-description__text">
                        Text of item.Text of item.Text of item.Text of item.Text of item.Text of item.
                    </p>
                    <span class="press__item-description__date">21 november, 2017</span>
                </div>
            </a>
            <a href="#" class="press__item">
                <div class="press__item-poster"></div>
                <div class="press__item-description">
                    <div class="press__item-description__title">Title of item</div>
                    <p class="press__item-description__text">
                        Text of item.Text of item.Text of item.Text of item.Text of item.Text of item.
                    </p>
                    <span class="press__item-description__date">21 november, 2017</span>
                </div>
            </a>
        </div>
    </div>
</div>