// Devices
$desktop: 1770px;
$laptop: 1150px;
$tablet: 768px;
$phone: 300px;

$gutter: 20px;

$font-family-roboto: 'Roboto',sans-serif;
$font-family-playfair: 'Playfair Display', serif;
$font-family-merriweather: 'Merriweather', serif;
$font-family-PTsans: 'PT Sans';