// Common

@import "../components/common/fonts";
@import "../components/common/variables";
@import "../components/common/respond";
@import "../components/common/global";
// Blocks
@import "../components/blocks/header/header";
@import "../components/blocks/menu/menu";
@import "../components/blocks/footer/footer";
@import "../components/blocks/contact-form/contact-form";
@import "../components/blocks/home/home";
@import "../components/blocks/commissionMe/commissionMe";
@import "../components/blocks/contact/contact";
@import "../components/blocks/press/press";